<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>News Scraper</title>
        {{!-- Bootstrap css --}}
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {{!-- CSS --}}
        <link rel="stylesheet" type="text/css" href='/assets/css/style.css'>
	</head>
	<body>
		{{{ body }}}

    {{!-- jQuery --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
    {{!-- Bootstrap JS --}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {{!-- JS files --}}
    <script type="text/javascript" src="/assets/javascript/home.js"></script>
    <script type="text/javascript" src="/assets/javascript/saved.js"></script>

	</body>
</html>
